<div class="" id="head2">
    <mat-progress-spinner
        class="example-margin"
        [mode]="mode"
        [color]="color"
        [hidden]="!showSpinner"
        [value]="value">
    </mat-progress-spinner>
    <div class="example-header">
        <mat-form-field style="width: 100%;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" class="example-table">

        <mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: yellow;font-size: 14pt;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <ng-container matColumnDef="id" style="width: 100px" >
            <mat-header-cell  *matHeaderCellDef>#</mat-header-cell>
            <mat-cell  *matCellDef="let row" >{{ row.id }}</mat-cell>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="content" style="width: 1400px;">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell  *matCellDef="let row">{{ row.content }}</mat-cell>
        </ng-container>


    </mat-table>

    <!--<mat-paginator [length]="resultsLength" [pageSize]="30">
    </mat-paginator>-->

</div>
