

mat-header-cell{
    color: black!important;
    font-weight: bold;
}

[hidden] {
    display: none !important;
}
mat-progress-spinner {
    position: fixed;
    top: 37%;
    left: 43%;
    /*background-color: white;*/
    z-index: 100;

}

