<div class="container" id="head2">
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="username" [(ngModel)]='username' value="lance77"  name="username"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="password" [(ngModel)]='password' name="password" value="1114"/>
        </mat-form-field>

    </div>
    <button mat-raised-button="" color="primary" (click)="clickedSubmit()" style="background-color: #ff5e0d"> logIn</button>
    <button mat-raised-button="" color="primary" (click)="signInWithSocial('google')" style="background-color: red"> login with google</button>
    <button mat-raised-button="" color="primary" (click)="signInWithSocial('facebook')" style="background-color: blue"> login with facebook</button>
    <button mat-raised-button="" color="primary" (click)="signInWithSocial('linkedin')" style="background-color: #45e4ff"> login with linkedin</button>
    <button mat-raised-button="" color="warn" (click)="logout2()" style="background-color: #2bcc12!important;"> logout2</button>&nbsp;&nbsp;&nbsp;&nbsp;

    <button mat-raised-button="" color="warn" (click)="signUp()" style="background-color: #2bcc12!important;"> signUp</button>
<!--
    <button mat-raised-button="" color="warn" (click)="logout()"> logout</button>-->

    <div>
        <br/>
    </div>
    <div class="message001">
        {{message}}
    </div>
    <div class="userInfo">

        {{email}}<br/>
        <!--{{idToken}}<br/>-->

        {{name}}<br/>
        <img *ngIf="image" [src]="image"><br/>
        {{_provider}}<br/>
        {{token}}<br/>
        {{uid }}<br/>


    </div>
</div>
