<div class="container" id="head2">
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="username" [(ngModel)]='username' value="lance77"  name="username"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="password" [(ngModel)]='password' name="password" value="1114"/>
        </mat-form-field>

    </div>
    <mat-grid-list cols="1" rowHeight="50px" style="margin: 0px; padding: 0px;" >
        <mat-grid-tile>
            <button mat-raised-button="" color="primary" (click)="clickedSubmit()" style="background-color: #ff5e0d; width: 500px"> logIn</button><br/>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button="" color="primary" (click)="signInWithSocial('google')" style="background-color: red; width: 500px"> <i class="fa fa-google-plus  " aria-hidden="true"></i>&nbsp; Login With Google+ </button><br/>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button="" color="primary" (click)="signInWithSocial('facebook')" style="background-color: blue; width: 500px"> <i class="fa fa-facebook " aria-hidden="true"></i>&nbsp; Login With Facebook</button><br/>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button="" color="warn" (click)="logout2()" style="background-color: #2bcc12!important; width: 248px;"> logout2</button>&nbsp;
            <button mat-raised-button="" color="warn" (click)="signUp()" style="background-color: #e70aca!important; width: 248px;"> signUp</button>
        </mat-grid-tile>

    </mat-grid-list>



    <!--<button mat-raised-button="" color="primary" (click)="signInWithSocial('linkedin')" style="background-color: #45e4ff"> login with linkedin</button>-->

<!--
    <button mat-raised-button="" color="warn" (click)="logout()"> logout</button>-->

    <div>
        <br/>
    </div>
    <div class="message001">
        {{message}}
    </div>
    <div class="userInfo">

        {{email}}<br/>
        <!--{{idToken}}<br/>-->

        {{name}}<br/>
        <img *ngIf="image" [src]="image"><br/>
        {{_provider}}<br/>
        {{token}}<br/>
        {{uid }}<br/>


    </div>
</div>
