<div id="head2">
</div>
<mat-progress-spinner
    class="example-margin"
    [mode]="mode"
    [color]="color"
    [hidden]="!showSpinner"
    [value]="value">
</mat-progress-spinner>
<div class="search-results"
     infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">

    <mat-grid-list cols="3" rowHeight="1.4:1">
        <mat-grid-tile *ngFor="let item of results; let i =index"
        >
            <img [src]="item.webformatURL" style=""/><br/>
        </mat-grid-tile>
    </mat-grid-list>

    <!--고경준 천재님이십닏sdlkflsdkflksdlfksdlkfl
    sadflkasdlkflasdkf-->
</div>

