<mat-toolbar>
    <mat-toolbar-row>
        <mat-icon (click)="display = true" class="example-icon">menu</mat-icon>
        <span class="example-spacer"></span>
        <span>&nbsp;&nbsp;{{title}}</span>
    </mat-toolbar-row>
</mat-toolbar>


<p-sidebar [(visible)]="display" style="">
    <a class="navbar-brand" href="#" routerLink="/">GENIUS DB</a>
    <div class="navbar-default" id="navbarNav">
        <hr style="color: black; border: 1px solid; width: 100%"/>
        <ul class="navbar-nav">
            <li class="nav-item" style="text-align: left" *ngIf="image">
                <a class="nav-link"> <img [src]="image" style="width: 30px;height: 30px"/></a>
            </li>

            <div class="" style="text-align: left" *ngIf="name ">
                {{name}}
            </div>
            <li class="nav-item" style="text-align: left" *ngIf="isLogined">
                <a class="nav-link" href="#" (click)="logout()" routerLink="/logout" style="color: red">logout</a>
            </li>
            <hr style="color: black; border: 1px solid; width: 100%"/>
            <li class="nav-item ">
                <a class="nav-link" href="#" (click)="changeTitle('login')"  routerLink="/">login </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="changeTitle('페이지001')"  routerLink="/page1">페이지001</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="changeTitle('page002')"  routerLink="/page2">page002</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="changeTitle('page003')"  routerLink="/page3">page003</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" (click)="changeTitle('dashboard')"  routerLink="/dashboard">dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="changeTitle('table')"  routerLink="/table">table</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" (click)="changeTitle('chips')" routerLink="/chips">chips</a>
            </li>


        </ul>
    </div>

</p-sidebar>
<!--<button pButton type="button" (click)="display = true" label=" " class="ui-button-success">&nbsp;<i class="fa fa-bars"
                                                                                                    aria-hidden="true"></i>&nbsp;
    menu&nbsp;&nbsp;
</button>-->

<div class="fab-button-row" style="text-align: right">
    <button mat-fab color="accent" (click)="goToHead()">TOP</button>
</div>
<!--<nav class="white001" >
    <a class="white001" routerLink="/">Home</a>
    <a routerLink="/page2" class="white001">page002</a>
    <a routerLink="/page3" class="white001">page003</a>
</nav>-->
<router-outlet></router-outlet>


