

mat-grid-tile{
    background-color: white;
    color: black;
}

.snack001{
    background-color: purple;
    color: #1c7430;
}

mat-progress-spinner{
    position: fixed;
    top: 40%;
    left: 50%;
    /*background-color: white;*/
    z-index: 100;
    color: white;
}

[hidden] { display: none !important;}

[color] { color: white}
/*

.search-results {
    height: 20rem;
    overflow: scroll;
}
*/



