
mat-grid-tile {
    background-color: white;
    color: black;
}

.snack001 {
    background-color: purple;
    color: #1c7430;
}

mat-progress-spinner {
    position: fixed;
    top: 37%;
    left: 43%;
    /*background-color: white;*/
    z-index: 100;

}

[hidden] {
    display: none !important;
}

/*

.search-results {
    height: 20rem;
    overflow: scroll;
}
*/



