/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


body{
    background-color: black;
    color: white;
}


snack-bar-container.success-snackbar {
    background-color: #2bcc12;
}
.success-snackbar .mat-simple-snackbar {
    color: #0f4c29;
}

at-grid-tile {
    background-color: white;
    color: black;
}

mat-progress-spinner {
    position: fixed;
    top: 37%;
    left: 43%;
    /*background-color: white;*/
    z-index: 100;

}

[hidden] {
    display: none !important;
}



